header {
	position: relative;
	display: flex;
}
li {
	font-family: Helvetica Neue;
	display: inline;
	padding: 15px;
}
 li a{
 	text-decoration: none;
 }
.wrapper img {
  	width: 28px;
  	height: 28px;
}

header h5 {
  color: #62737c;
  padding-left: 2px;
}